<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Favorite food</th>
    <th>Accepted eua</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.age %></td>
    <td><%= member.favorite_food %></td>
    <td><%= member.accepted_eua %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
